<div class="row">
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="dash-count bg-primary">
            <div class="dash-counts">
                <h4 class="mb-1">0</h4>
                <p class="text-white mb-0">Total Agents</p>
            </div>
            <div class="dash-imgs">
                <i data-feather="user"></i>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="dash-count das1 bg-cyan-900">
            <div class="dash-counts">
                <h4 class="mb-1">0</h4>
                <p class="text-white mb-0">Total users</p>
            </div>
            <div class="dash-imgs">
                <i data-feather="user-check"></i>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="dash-count das2 bg-dark">
            <div class="dash-counts">
                <h4 class="mb-1">0</h4>
                <p class="text-white mb-0">Revenue Overview</p>
            </div>
            <div class="dash-imgs">
                <img src="~/Content/admin/img/icons/file-text-icon-01.svg" class="img-fluid" alt="icon">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="card dash-widget w-100">
            <div class="card-body d-flex align-items-center">
                <div class="dash-widgetimg">
                    <span><img src="~/Content/admin/img/icons/dash1.svg" alt="img"></span>
                </div>
                <div class="dash-widgetcontent">
                    <h5 class="mb-1"><span class="counters" data-count="0.00">0</span></h5>
                    <p class="mb-0">Total Purchase Due</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="card dash-widget dash1 w-100">
            <div class="card-body d-flex align-items-center">
                <div class="dash-widgetimg">
                    <span><img src="~/Content/admin/img/icons/dash2.svg" alt="img"></span>
                </div>
                <div class="dash-widgetcontent">
                    <h5 class="mb-1"><span class="counters" data-count="0.00">0.00</span></h5>
                    <p class="mb-0">Total Sales Due</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="card dash-widget dash2 w-100">
            <div class="card-body d-flex align-items-center">
                <div class="dash-widgetimg">
                    <span><img src="~/Content/admin/img/icons/dash3.svg" alt="img"></span>
                </div>
                <div class="dash-widgetcontent">
                    <h5 class="mb-1"><span class="counters" data-count="0.00">0.00</span></h5>
                    <p class="mb-0">Total Sale Amount</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="card dash-widget dash3 w-100">
            <div class="card-body d-flex align-items-center">
                <div class="dash-widgetimg">
                    <span><img src="~/Content/admin/img/icons/dash4.svg" alt="img"></span>
                </div>
                <div class="dash-widgetcontent">
                    <h5 class="mb-1"><span class="counters" data-count="0.00">0.00</span></h5>
                    <p class="mb-0">Total Expense Amount</p>
                </div>
            </div>
        </div>
    </div>
   
</div>
